<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @status2.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @status2.content %>
</p>

<%= link_to 'Edit', edit_status2_path(@status2) %> |
<%= link_to 'Back', status2s_path %>
